.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    margin: 2em;
}

.opts-cntr {
    display: flex;
    gap: 1em;
}

.opts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.number-input {
    width: 3em;
}

h1 {
    text-align: center;
}
